{% extends 'base.html' %}


{% block content %}
    <div class="content-container no-jumbotron">

        <div class="row">

            <div class="col-sm-8 private-post-list">

                <div class="page-heading no-jumbotron">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <i class="fas fa-feather-alt"></i> About me...<i class="fas fa-feather-alt"></i>
                        </a>
                    </div>
                </div>

                <div class="about-me">

                    <p>Hiya! I'm Paula and this is the very first website that I have build from the scratch (Excited! :) )</p>
                    <p>Through this website, I would like to invite my Family and Friends to share their (ridiculous) thoughts and passions.
                        But most of all, I would like to share my progress in getting my foot into the programming world...
                    <p>Yes, until not so long ago I was a Biotechnologist and a Biomedical Scientist; and here I am, digging into
                        Python and Django followed by cracking through css and html.</p>
                    <p>Why? </p>
                    <p>Because I am motivated by my curiosity, I am excited about solving problems and I learn new skills with a positive attitude!
                    </p>
                </div>

                <div class="links">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href='{% url 'website:email' %}'>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-at fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/paulambanks">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/paulambanks/">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="/feed.xml">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="profile-user-info">

                    <div class="profile-avatar">
                        <img src="/static/images/photo-me.jpg" alt="Picture of Me" class="profile-avatar-photo">
                    </div>

                    <div class="author-name-and-location">

                        <h3>Paula Banks</h3>

                        <p class="profile-user-location">Manchester, UK</p>

                        <blockquote class="author-bio">Biotechnologist, passionate about good food, travels and RPG games. From 2018 switching to programming. </blockquote>

                    </div>

                </div>

            </div>

        </div>
    </div>




{% endblock %}