<div class="page-heading">
    <div class="profile-page-link-container">
        <a class="nav-link" href="{% url 'website:post_new' %}" title="Write a new Posts">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}"
                     alt="Profile Avatar"
                     class="nav-avatar 30x30 img-responsive">
            {% else %}
                <img src="/static/crazycat.jpeg"
                     alt="Profile Avatar"
                     class="nav-avatar 30x30 img-responsive">
            {% endif %}
            <span class="add-new-post-button-text"> What's on your mind?...
                <i class="fas fa-feather-alt"></i></span>
        </a>
    </div>
</div>