
<div class="page-heading">

    <div class="page-heading-buttons">

        <div class="btn-group edit" role="group">
            <button class="btn btn-edit"><a class="nav-link" href="{% url 'website:post_new' %}" title="Write a new Posts">
                <i class="far fa-plus-square"></i> New post </a></button>
            <button class="btn btn-edit"><a class="nav-link" href="{% url 'website:post_draft_list' %}" title="Drafts">
                <i class="far fa-edit"></i> Drafts </a></button>
        </div>

    </div>
</div>
