<!DOCTYPE html>

{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row no-margin">

        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="add-new-post-button">
                <div class="profile-page-link-container">
                    <a class="nav-link" title="Contact Form">
                        <span class="add-new-post-button-text"><i class="fas fa-feather-alt"></i> CONFIRM DELETE...
                            <i class="fas fa-feather-alt"></i></span>
                    </a>
                </div>
            </div>

                <form method="POST" action=".">
                    {% csrf_token %}

                    <div class="post-card single-card confirm card mb-4 box-shadow">

                        <div class="card-body d-flex flex-column">

                            <div class="card-title">
                                <h3 class="styled">{{ post.title }}</h3>
                            </div>
                            <div class="separator"></div>

                            <div class="card-post-tags">
                                <ul class="card-tags">
                                    {% for tag in post.tags.all %}
                                        <li class="card-single-tag">
                                            <a class="btn btn-light card-tag" href="{% url 'website:tagged_posts_list' tag.id %}">{{ tag.slug }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="post-text">
                                <p class="card-text">{{ post.content | safe | truncatechars:300 }}</p>
                            </div>


                        </div>

                        <div class="card-footer">
                            <small class="text-muted">
                                <i class="far fa-clock"></i> Updated on {{ post.updated | date:"d F Y" }}</small><br>
                            <small class="text-muted">
                                <a class="user-update-link"
                                   href="{% url 'website:individual_author_public_posts' post.author_id %}"
                                   title="Update Profile"><i class="fas fa-user"></i> {{ post.author.username }}</a>
                            </small>
                        </div>

                    </div>

                    <div class="add-new-post-button">
                        <div class="btn-group" role="group">
                            <button class="nav-link btn login-btn" type="submit" title="Delete the post">
                                <span class="add-new-post-button-text"> CONFIRM <i class="far fa-trash-alt"></i></span></button>
                            <a class="nav-link btn" href='{% url 'website:post_detail' pk=post.pk %}' title="Cancel changes">
                                <span class="add-new-post-button-text"> CANCEL </span></a>
                        </div>
                    </div>

                </form>

        </div>
    </div>

    <hr/>


{% endblock content %}