<!DOCTYPE html>

{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="row">

        <div class='col-md-12'>

          <h3>Confirm Delete</h3>

            <form method="POST" action=".">
                {% csrf_token %}

                <p>Are you sure you want to delete post: </p>

                <h6>{{ post.title }}</h6>
                <p>{{ post.content | safe | truncatechars:200 }}</p>

                <div class="buttons">
                    <input type='submit' value='Confirm' class='btn btn-warning small'>
                    <a href='{% url 'website:post_detail' pk=post.pk %} ' class='btn btn-default'>Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <hr/>


{% endblock content %}