<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <!-- JUMBOTRON // CAROUSEL
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="jumbotron jumbotron-fluid">
            <!--INCLUDE JUMBOTRON -->
            {% include "jumbotron.html" %}
            <!---------------------->
        </div>

    <div class="content-container">

        <div class="row no-top-margin">

            <div class="col-sm-8 individual-public-post-list">

                <div class="page-heading no-jumbotron">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <span class="add-new-post-button-text"><i class="fas fa-feather-alt"></i> Get inspired...
                                <i class="fas fa-feather-alt"></i></span>
                        </a>
                    </div>
                </div>

                <br>

                <div class="card-deck mb-3">

                    {% for post in posts %}

                        <div class="post-card card mb-4 box-shadow">

                            <!--INCLUDE PAGINATION-->
                            {% include "website/single_post_card_body.html" %}
                            <!---------------------->

                            <div class="card-footer">
                                <small class="text-muted">
                                    <i class="far fa-clock"></i> Updated on {{ post.updated | date:"d F Y" }}
                                </small>
                            </div>

                        </div>

                    {% endfor %}

                </div>
                <hr>

                {% if posts.has_other_pages %}
                    {% include "website/pagination.html" %}
                {% endif %}

            </div>

            <div class="col-sm-4">

                <div class="profile-card card mb-4 box-shadow">

                    <div class="card-body d-flex flex-column">

                        <!--INCLUDE AUTHOR PROFILE CARD BODY-->
                        {% include "website/profile_card_body.html" %}
                        <!---------------------->

                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}