<ul class="pagination pagination-sm">

    {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">PREVIOUS</a></li>

    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">PREVIOUS</a></li>

    {% endif %}

    {% for i in posts.paginator.page_range %}

        {% if posts.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>

        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

        {% endif %}

    {% endfor %}

    {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">NEXT</a></li>

    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">NEXT</a></li>

    {% endif %}

</ul>