<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row no-margin">

        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="page-heading">
                <div class="profile-page-link-container">
                    <a class="nav-link" title="Contact Form">
                        <span class="add-new-post-button-text"><i class="fas fa-feather-alt"></i> SHARE YOUR POST...
                            <i class="fas fa-feather-alt"></i></span>
                    </a>
                </div>
            </div>

            <form method="POST" class="post-share-form">{% csrf_token %}

                <div class="post-card single-card confirm card mb-4 box-shadow">

                    <!--INCLUDE POST CARD BODY-->
                    {% include "website/single_post_card_body.html" %}
                    <!---------------------->

                    <div class="card-footer">
                        <small class="text-muted">
                            <i class="far fa-clock"></i> Updated on {{ post.updated | date:"d F Y" }}</small>
                    </div>

                </div>

                <div class="fieldWrapper users card-footer">
                    {{ formset.management_form }}

                    <label for="{{ formset.user.id_for_label }}">Chose user...</label>

                    {% for form in formset %}
                        <div class="fieldWrapper user">
                            {{ form }}
                        </div>
                    {% endfor %}

                </div>

                <div class="add-new-post-button">
                    <div class="btn-group" role="group">
                        <button class="nav-link btn login-btn" type="submit" title="Share the Post">
                            <span class="add-new-post-button-text"> SHARE <i class="fas fa-user-friends"></i></span></button>
                        <a class="nav-link btn" href='{% url 'friends:private_posts_list' %}' title="Cancel changes">
                            <span class="add-new-post-button-text"> CANCEL </span></a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}