<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block content %}

        <div id="posts">
            <h2>EDIT POST</h2>
        </div>

        <article class="single-post">

            <form method="POST" class="post-table">

                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
                <a href='{% url 'website:posts_list' %} ' class='btn btn-default'>Cancel</a>

            </form>

        </article>

    {% endblock %}