<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {{ form.media }}

    <div class="row">

{#        <div class="post-edit col-sm-12 flex-column">#}

            <div class="post-edit edit-form-container">

                <form method="POST" class="post-edit form-content">{% csrf_token %}

                    <div class="post-edit col-sm-12 row-flex">

                        <div class="col-sm-8 post-edit edit-post-content">

                            <div class="fieldWrapper form-title">
                                <h3>EDIT YOUR POST</h3>
                            </div>
                            <div class="post-edit-card">

                            <div class="fieldWrapper title">
                                {{ form.title }}
                            </div>
                            <div class="fieldWrapper content">
                                {{ form.content }}
                            </div>

                            </div>
                        </div>

                        <div class="col-sm-4 post-detail-edit">

                            <div class="fieldWrapper form-title">
                                    <h3>POST DETAILS</h3>
                            </div>

                            <div class="post-detail-card">

                                <div class="fieldWrapper privacy">
                                    <label for="{{ form.privacy.id_for_label }}">Change privacy:</label>
                                    {{ form.privacy }}
                                </div>

                                {{ formset.management_form }}
                                <label for="{{ form.tag.id_for_label }}">Update current tags:</label>

                                <div class="current-post-tags">
                                    <ul class="edit-current-tags">
                                        {% for tag in post.tags.all %}
                                            <li class="edit-single-tag">
                                                <a class="btn btn-light tag" href="">{{ tag.slug }} <i class="fas fa-times"></i></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <label for="{{ form.tag.id_for_label }}">Add new tags:</label>

                                {% for form in formset %}
                                    <div class="fieldWrapper tag">
                                        {{ form }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="SAVE CHANGES" class="btn btn-success">
                        <a href="{% url 'website:posts_list' %}" class="btn btn-secondary">CANCEL</a>
                    </div>
                </form>
            </div>
        </div>

{#    </div>#}




{% endblock %}