<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <div class="content-container no-jumbotron">

        <div class="row">

            <div class="col-md-12">

                <div class="page-heading">

                    <div class="page-heading-buttons">

                        <div class="btn-group edit" role="group">
                            <button class="btn btn-edit"><a class="nav-link" href="{% url 'website:post_new' %}" title="Write a new Posts">
                                <i class="fas fa-plus"></i> New post </a></button>
                        </div>

                    </div>
                </div>

                <div class="container">

                    <div class="card-deck main-post-list mb-0">

                        {% for post in posts %}

                            <div class="post-card card mb-4 box-shadow">

                                <!--INCLUDE PAGINATION-->
                                {% include "website/single_post_card_body.html" %}
                                <!---------------------->

                                <div class="card-footer">
                                    <small class="text-muted"><i class="far fa-clock"></i> Created on {{ post.created | date:"d F Y" }}</small>
                                    {% if post.privacy == 'Private' %}
                                        <small class="text-muted"><i class="fas fa-lock" title="Private"></i> Private</small>
                                    {% elif post.privacy == 'Friends' %}
                                        <small class="text-muted"><i class="fas fa-user-friends" title="Friends"></i> Friends </small>
                                    {% else %}
                                        <small class="text-muted"><i class="fas fa-globe" title="Public"></i> Public</small>
                                    {% endif %}
                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </div>
                <hr>

                <!--INCLUDE PAGINATION-->
                    {% if posts.has_other_pages %}
                        {% include "website/pagination.html" %}
                    {% endif %}
                <!---------------------->

            </div>
        </div>
    </div>

{% endblock %}






