<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {{ form.media }}

    <div class="row">

        <div class="col-md-12">

            <h3>EDIT POST</h3>

            <form method="POST" class="post-edit-form">


                {% csrf_token %}
                {{ form.as_p }}

                <div class="buttons">
                    <input type="submit" value="CONFIRM" class="btn btn-primary">
                    <a href="{% url 'website:posts_list' %}" class="btn btn-default">Cancel</a>
                </div>
            </form>

        </div>
    </div>

{% endblock %}