<!DOCTYPE html>

{% extends 'base.html' %}

    {% block content %}

        <article class="single-post">

            {% if user.is_authenticated and request.user == post.author %}

            <form class="post-edit">
                {%  if post.status == "Draft" %}

                    <a class="btn btn-default" href="{% url 'website:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-default" href="{% url 'website:post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></a>
                    <a class="btn btn-default" href="{% url 'website:post_publish' pk=post.pk %}">Publish</a>

                {% else %}

                    <a class="btn btn-default" href="{% url 'website:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-default" href="{% url 'website:post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></a>

                {% endif %}
            </form>

             {% endif %}

                <h5><i class="far fa-clock"></i> Post by {{ post.author }} {{ post.created }}</h5>
                <h1>{{ post.title }}</h1>
                <p>{{ post.content|linebreaksbr }}</p>

        </article>

    {% endblock %}
