<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto">

        {% if user.is_authenticated and request.user == post.author %}

        <form class="buttons">
            {%  if post.status == "Draft" %}

                <a class="btn btn-default" href="{% url 'website:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-default" href="{% url 'website:post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></a>
                <a class="btn btn-default" href="{% url 'website:post_publish' pk=post.pk %}">Publish</a>

            {% else %}

                <a class="btn btn-default" href="{% url 'website:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-default" href="{% url 'website:post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></a>

            {% endif %}
        </form>

        {% endif %}

            <h3>{{ post.title }}</h3>
            <h6><i class="far fa-clock"></i> Posted on {{ post.created }} by {{ post.author.username }}</h6>

            <div class="post-tags">
                <p> Tags: {{ post.tags.all | join:', '   }} </p>
            </div>

            <div class="post-text">
                <p>{{ post.content | safe }}</p>
            </div>

        </div>

    </div>

{% endblock %}
