<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">

        <div class="col-md-12">

        {% if user.is_authenticated and request.user == post.author %}

        <form class="buttons">
            {%  if post.status == "Draft" %}

                <a class="btn btn-default" href="{% url 'website:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-default" href="{% url 'website:post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></a>
                <a class="btn btn-default" href="{% url 'website:post_publish' pk=post.pk %}">Publish</a>

            {% else %}

                <a class="btn btn-default" href="{% url 'website:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-default" href="{% url 'website:post_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></a>

            {% endif %}
        </form>

         {% endif %}

            <h3>{{ post.title }}</h3>

            <h6><i class="far fa-clock"></i> {{ post.created }}</h6>
            <p>TAGS {{ post.tags.all | join:', '   }} </p>

            <p>{{ post.content | safe }}</p>

        </div>

    </div>

{% endblock %}
