{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

    <div class="content-container">

        <div class="row">

            <div class="col-sm-4">

                <div class="user-info">
                    <h2 class="author-heading">Welcome {{ user.profile.user.first_name }} to your Profile Page</h2>

                    <div class="author-avatar">

                        {% if user.profile.avatar %}
                            <img src="{{ user.profile.avatar.url }}" alt="Profile Avatar" class="profile-avatar">
                        {% else %}
                            <img src="/static/crazycat.jpeg" alt="Profile Avatar" class="profile-avatar">
                        {% endif %}

                    </div>

                </div>

            </div>

            <div class="col-sm-8">
                <div class="user-description">
                    <p class="user-bio">That's something about me: {{ user.profile.bio }}</p> <!--profile-bio-->
                    <a class="user-update-link" href="{% url 'accounts:edit_user' user.profile.pk %}">
                       Edit your profile</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}