<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-container no-jumbotron">
        <div class="row">

            <div class="col-md-12">

                <div class="page-heading">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <span class="add-new-post-button-text"><i class="fas fa-feather-alt"></i> EDIT YOUR PROFILE...
                                <i class="fas fa-feather-alt"></i></span>
                        </a>
                    </div>
                </div>


                <form action="." method="POST" class="post-edit-form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row no-margin">
                        <div class="col-sm-6 form-group login-form">

                            {{ formset.management_form }}

                            {% for form in formset %}
                                {% for error in form.non_field_errors %}
                                    <div class="form-group has-errors text-danger small">
                                        {{error}}
                                    </div>
                                {% endfor %}

                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}

                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                        </div>
                    </div>

                    <div class="add-new-post-button">
                        <div class="btn-group confirm" role="group">
                            <button class="nav-link btn login-btn" type="submit" title="Edit the profile">
                                <span class="add-new-post-button-text"> SAVE CHANGES <i class="fas fa-unlock-alt"></i></span></button>
                            <a class="nav-link btn" href='{% url 'website:posts_list' %}' title="Cancel changes">
                                <span class="add-new-post-button-text"> CANCEL </span></a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}


