{% extends 'base.html' %}


{% block content %}

    <div class="row">

        <div class="col-sm-4">

            <div class="small-image-container"> <!-- Picture -->
                <img src="/static/photo-me.jpg" alt="Picture of Me">
            </div>
            <div class="user-location">
                <p>{{ user.profile.location }}</p>
            </div>
            <div class="user-birthday">
                <p>{{ user.profile.birth_date }}</p>
            </div>

            <div class="update-profile">
                <a class="btn btn-default" href="{% url 'accounts:new_profile' %}"><i class="fas fa-pencil-alt"></i>Create your profile</a>
                <a class="btn btn-default" href="{% url 'accounts:update_profile' %}"><i class="fas fa-pencil-alt"></i>Update your profile</a>
            </div>

        </div>

        <div class="col-sm-8">
            <div class="user-bio">
                <p>{{ user.profile.bio }}</p>
            </div>

        </div>
    </div>

{% endblock %}