<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

    {% block content %}

        <main class="posts">
            <h2>Login</h2>

            <form method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a href='{% url 'users:password_reset' %} ' class='btn btn-default'>RESET PASSWORD</a>
                </div>

            </form>

        </main>

    {% endblock %}