{% autoescape off %}

Hi {{ user.first_name }}!

You are receiving this email because You have been registered at Ridiculoud Thoughts Blog.

Feel free to use the following link to activate your account and complete your profile.

    Please go to the following page and create your password:

    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

Your username will be your email address.

Happy to have you!

Paula

{% endautoescape %}