<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="content-container no-jumbotron">

        <div class="row">

            <div class="col-md-12">

                <div class="page-heading">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <h3 class="add-new-post-button-text"> SIGN IN</h3>
                            <i class="fas fa-unlock-alt fa-7x"></i>
                        </a>
                    </div>
                </div>

                <form method="POST">{% csrf_token %}

                    <div class="row">
                        <div class="col-sm-6 form-group login-form">
                            <label for="id_username"></label>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter your Email" required>

                            <label for="id_password"></label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your Password" required>
                        </div>
                    </div>

                    <div class="add-new-post-button">
                        <div class="btn-group submit" role="group">
                             <button class="btn btn-submit" type="submit" title="Login to your account">
                                 <i class="fas fa-unlock-alt"></i> LOGIN </button>
                             <a class="btn btn-cancel user-update-link" href="{% url 'accounts:password_reset' %}" title="Forgot my Password">
                                 <i class="fas fa-question-circle"></i> RESET PASSWORD</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

