{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="content-container no-jumbotron">

    <div class="row">
        <div class="container">

            <div class="col-md-8 col-sm-12 mb-4 mx-auto">

                <div class="page-heading">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <h3 class="add-new-post-button-text">Check Your Email</h3>
                            <i class="far fa-envelope fa-7x"></i>
                            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.
                                You should be receiving it shortly.</p>
                            <p>If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}