{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="content-container no-jumbotron">

    <div class="row">

        <div class="col-md-12">

            <div class="page-heading">
                <div class="profile-page-link-container">
                    <a class="nav-link" title="Contact Form">
                        <h3 class="add-new-post-button-text">RESET PASSWORD</h3>
                        <i class="fas fa-at fa-7x"></i>
                        <p>Please provide your email address to receive instructions for resetting your password.</p>
                    </a>
                </div>
            </div>

            <form action="" method="post">{% csrf_token %}

                <div class="row">
                    <div class="col-sm-6 form-group login-form">
                        <label for="id_email"></label>
                        <input type="text" class="form-control" id="id_email" name="email" placeholder="Enter your Email" required>
                    </div>
                </div>
                {{ form.email.errors }}

                <div class="add-new-post-button">
                    <div class="btn-group submit" role="group">
                        <button class="btn btn-submit" type="submit" title="Reset password"> RESET </button>
                        <a class="btn btn-cancel user-update-link" href='{% url "website:posts_list" %}' title="Cancel changes">CANCEL </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}