{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="content-container no-jumbotron">

    <div class="row">

        <div class="col-md-12">

            <div class="page-heading">
                <div class="profile-page-link-container">
                    <a class="nav-link" title="Contact Form">
                        <h3 class="add-new-post-button-text">Your password has been set</h3>
                        <i class="fas fa-check-circle fa-7x"></i>
                        <p>You may go ahead and sign in.</p>
                    </a>
                </div>
            </div>
            <div class="add-new-post-button">
                <a class="btn btn-submit user-update-link" href='{% url "login" %}' title="Login link"><i class="fas fa-unlock-alt"></i> Login </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}