{% extends "base.html" %}

{% block title %}Setting New password{% endblock %}

{% block content %}
    <div class="content-container no-jumbotron">

    <div class="row">

        <div class="col-md-12">

            {% if validlink %}

                <h3>Change password</h3>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.email.errors }}
                    <button class="btn btn-primary" type="submit">SAVE NEW PASSWORD</button>
                </form>

            {% else %}

                <h3>Password reset unsuccessful</h3>
                <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset.</p>

            {% endif %}

        </div>

    </div>
    </div>

{% endblock %}