/*------------------------------ NAVIGATION SETTINGS---------------------------------------*/
header {
    top: 0;
	left: 0;
	right: 0;
    margin: 0 auto;
    position: fixed;
	transition: top 0.2s ease-in-out;
    z-index: 2;
    max-width: 100%;
}

/*------------------------------ NAVIGATION SETTINGS---------------------------------------*/

.nav-up {
    top: -80px;
}

#mainNav {
    background: #414042;
    padding: 0;
    height: 60px;
}

#mainNav > div.container {
    padding: 0 1%;
    max-width: 100%;
}

#mainNav .navbar-brand,
#mainNav .nav-item .nav-link {
    font-weight: 800;
    font-size: 20px;
    color: #FBF7FF;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 27px;
}

#mainNav .navbar-brand {
    padding-left: 10px;
}


#mainNav .nav-item {
    padding-bottom: 10px;
    padding-top: 10px;
}

#mainNav .navbar-toggler {
    font-weight: 800;
    font-size: 20px;
    color: #FBF7FF;
}

#mainNav .nav-item .nav-link,
#mainNav .navbar-toggler,
#mainNav .profile-link-username {
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: #FBF7FF;
    margin: auto 0;
}

#mainNav .navbar-brand:hover,
#mainNav .profile-link-username:hover,
#mainNav .nav-item .nav-link:hover,
#mainNav .navbar-toggler:hover {
    color: #6A557F;
}

.nav-avatar {
    vertical-align: middle;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}

/* -----------SETTINGS FOR NAVIGATION FOR SCREEN --------------------  */

@media only screen and (min-width: 992px) {
    #mainNav {
    position: relative;
    /*margin-bottom: 40px;*/
        /*background: #414042;*/
    }
    .container {
        z-index: 1;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #mainNav .navbar-brand {
        font-size: 20px;
    }
}

/*------------------ FLUID JUMBOTRON SETTINGS---------------*/

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-fluid {
    margin-bottom: 0;
    padding: 0;
}
/*--Jumbotron round indicators--*/
#myCarousel > ul.carousel-indicators {
    width: 25%;
    margin: 0 auto;
    justify-content: center;
    bottom: 10%;
}

#myCarousel > ul.carousel-indicators > li.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 80%;
}

/*--Jumbotron images/carousel--*/

.carousel-item .img-fluid {
    width:100%;
    opacity: 0.7;
}

div.carousel-caption {
    bottom: 15%;
    right: 0;
    text-align: left;
    width: 100%;
}

.btn-outline-secondary {
    color: #FBF7FF;
    border-color: #FBF7FF;
    margin: 2% 0;
}



