/*--------- MAIN SETTINGS--------*/
* {
    box-sizing: border-box;
    font-size: 1em;
}

body {
    max-width: 980px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 100%;
}




/*--------- MOBILE SETTINGS--------*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        max-width: 380px;
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 auto;
        padding-bottom: 5%;
    }
}

/*--------- GENERAL HEADER SETTINGS--------*/

header {
    box-sizing: border-box;
    top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;  /*make the menu center-aligned*/
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
	transition: top 0.2s ease-in-out;
	max-width: 1200px;
    z-index: 2;
}

.container-fluid {
    z-index: 1;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  header {
      width: 100%;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  header {
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
  }
}
/*--------- NAVIGATION SETTINGS--------*/

.nav-up {
    top: -80px;
}

.navigation {
    background: #e2e2e2;
    /*max-width: 980px;*/
    margin: 0 auto;
}

.navigation .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: gray;
}

.navigation .navbar-brand {
    font-weight: 800;
    color: white;
}

.navigation .logo:hover {
    background: #ddd;
}

.navigation .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation .nav-link:hover,
.navigation .nav-link:active {
      background: #ddd;
}

@media only screen and (min-width: 992px) {
    #mainNav {
    position: relative;
    margin-bottom: 40px;
        background: #40bfdc linear-gradient(324deg, #4cabe7, #0f8ad8, #4197c391);
    }
    .container {
        z-index: 1;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #212529;
        opacity: 0.5;
    }
    .navbar-brand {
        padding: 10px 20px;
        color: white;
    }
    .navbar-light .navbar-nav .nav-link {
    color: white;
    }

}

/*--------- BOOTSTRAP PAGINATION SETTINGS--------*/

.pagination {
    justify-content: center;
}

/*--------- PAGE CONTENT SETTINGS--------*/


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.posts {
    text-align: center;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col-md-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

label[for=id_title],
label[for=id_content],
label[for=id_tags] {
    display: inherit;
}

#id_content,
#id_title {
    width: 80%;
}

.fixed-bottom {
    position: absolute;
    right: 0;
    top: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/*--------- FORMS SETTINGS--------*/

.buttons {
    text-align: center;
}
.post-edit-form {
    display: flex;
    flex-direction: column;
}

/*--------- IMAGE SETTINGS--------*/

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-container img {
    display:inline-block;
    margin-top: 80px;
    object-fit: cover;
    object-position: 100%;
    width: 100%;
}


/*--------- WELCOME PAGE / JUMBOTRON SETTINGS--------*/


.users {
	margin: 0 auto;
	padding: 0;
	text-align: center;
    font-family: "Courier New", Courier, monospace;
}
.users li {
	list-style: none;
	margin: 10px auto;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 0.875em;
}

/*--------- FOOTER SETTINGS--------*/
footer {
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0;
	left: 0;
	right: 0;
	/* center all inline content */
	text-align: center;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
	clear: both;
	background-color: white;
}

