/*--------- MAIN PAGE SETTINGS--------*/
* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    max-width: 980px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 100%;
    font-family: 'Lora', 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

h3, h6 {
    text-align: center;
}

p {
    line-height: 1.5;
}

/*--------- GENERAL HEADER SETTINGS--------*/

header {
    box-sizing: border-box;
    top: 0;
	left: 0;
	right: 0;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
	transition: top 0.2s ease-in-out;
	max-width: 1200px;
    z-index: 2;
}


/*--------- NAVIGATION SETTINGS--------*/

.nav-up {
    top: -80px;
}

#mainNav {
    background: #e2e2e2;
    margin-bottom: 40px;
    padding: 0;
}

#mainNav .navbar-toggler {
    font-weight: 800;
    text-transform: uppercase;
    color: gray;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: white;
}

#mainNav .navbar-brand:hover {
    color: rgba(0,0,0,.5);
    background: #ddd;
}

#mainNav .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
}

.navigation .nav-item .nav-link:hover,
.navigation .nav-item .nav-link:active {
      background: #ddd;
}


/*--------- MOBILE SETTINGS--------*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        max-width: 380px;
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 auto;
        padding-bottom: 5%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  header {
      width: 100%;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    header {
      margin-right: auto;
      margin-left: auto;
    }
}

@media only screen and (min-width: 992px) {
    #mainNav {
    position: relative;
    margin-bottom: 40px;
        background: #40bfdc linear-gradient(324deg, #4cabe7, #0f8ad8, #4197c391);
    }
    .container {
        z-index: 1;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #212529;
        opacity: 0.5;
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

}
@media only screen and (max-width: 400px) {
    .navigation .navbar-brand {
        font-size: 20px;
        margin-left: 10px;
        color: gray;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .navigation .navbar-brand {
        margin-left: 10px;
        color: gray;
    }
}

/*--------- BOOTSTRAP PAGINATION SETTINGS--------*/

.pagination {
    justify-content: center;
}

/*--------- PAGE CONTENT SETTINGS--------*/

.container-fluid {
    z-index: 1;
}
.row {
    margin-top: 80px;
}

.row .no-margin {
    margin-top: 0;
}

.single-post {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.post-title > p {
    font-size: 16px;
    text-align: center;
}

.post-text {
    margin-bottom: 15px;
}

.post-tags {
    text-align: center;
}

ul.tags {
    padding: 0;
    display: inline-flex;
    margin: 0;
}

ul.tags > li{
    list-style: none;
    padding: 0 10px;
}

.single-tag > a {
    font-size: 16px;
}

.col-md-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}
.col-md-12 {
    text-align: center;
}

form > ul {
    list-style: none;
}

form > ul > li {
    font-size: 12px;
}

label[for=id_title],
label[for=id_content],
label[for=id_tags] {
    display: inherit;
}

span.helptext {
    font-size: 12px;
}

/*--------- PRIVACY AND TAGS FORM SETTINGS--------*/
.post-edit-form > p:nth-child(4) {
    display: grid;
    width: 50%;
    margin: 0 auto 15px auto;
}

.post-edit-form > p:nth-child(5) {
    display: grid;
    width: 50%;
    margin: 0 auto 15px auto;
}

/*#id_content,*/
#id_title {
    width: 80%;
}

.fixed-bottom {
    position: absolute;
    right: 0;
    top: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/*--------- FORMS SETTINGS--------*/

form {
    text-align: center;
}

.buttons {
    text-align: center;
    font-size: 16px;
}
.buttons > input {
    font-size: 16px;
}

.buttons > a {
    font-size: 16px;
}
body > main > div.container-fluid > div > div:nth-child(2) > form {
    text-align: left;
}

.btn .btn-primary .left {
    text-align: left;
}

.post-edit-form {
    display: flex;
    flex-direction: column;
    /*width: 80%;*/
}


/*--------- IMAGE SETTINGS--------*/

.image-container {
    justify-content: center;
    width: 100%;
}

.image-container img {
    display:inline-block;
    margin-top: 80px;
    object-fit: contain;
    object-position: 100%;
    width: 100%;
}

.small-image-container {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.small-image-container img {
    display:inline-block;
    object-fit: contain;
    object-position: 100%;
    max-width: 100%;
    border-radius: 50%;
}

@media only screen and (max-width: 450px) {
    .small-image-container {
        text-align: center;
    }
    .small-image-container img {
        max-width: 75%;

    }
}

.list-inline-item > a {
    color: black;
}

/*--------- FOOTER SETTINGS--------*/
footer {
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0;
	left: 0;
	right: 0;
	/* center all inline content */
	text-align: center;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
	clear: both;
	background-color: white;
}

