/*------------------- MAIN SETTINGS-------------------*/

* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body {
    font-size: 1.1rem;
    line-height: 1.6;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 100%;
    font-family: "Noto Serif", serif;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 5%;
    }
}

main {
    font-size: 1.1rem;
    line-height: 1.6;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 100%;
    font-family: "Noto Serif", serif;
}

.content-container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 80%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 2000px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
	font-family: 'Noto Serif', serif;
    line-height: 1.2;
}

p {
    line-height: 1.5;
}

.row.no-top-margin {
    margin-top: 0;
}

/*-------------------------- GENERAL HEADER SETTINGS--------------------------------*/

header {
    top: 0;
	left: 0;
	right: 0;
    margin: 0;
    position: fixed;
	transition: top 0.2s ease-in-out;
    z-index: 2;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  header {
      width: 100%;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    header {
      margin-right: auto;
      margin-left: auto;
    }
}


/*------------------------------ NAVIGATION SETTINGS---------------------------------------*/

.nav-up {
    top: -80px;
}

#mainNav {
    background: #414042;
    margin-bottom: 40px;
    padding: 0;
}

#mainNav .navbar-toggler {
    font-weight: 800;
    text-transform: uppercase;
    color: #FBF7FF;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #FBF7FF;
}

#mainNav .navbar-brand:hover {
    color: #C9C6CC;
}

#mainNav .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
}

.profile-page-link-container {
    height: 100%;
    margin: auto 0;
}

.profile-link-username {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
    margin: auto 0;
    color: #FBF7FF;
}

.profile-link-username:hover {
    color: #C9C6CC;
    text-decoration: none;
}

.nav-avatar {
    vertical-align: middle;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}

@media only screen and (min-width: 992px) {
    #mainNav {
    position: relative;
    margin-bottom: 40px;
        background: #414042;
    }
    .container {
        z-index: 1;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #FBF7FF;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #C9C6CC;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .navigation .navbar-brand {
        margin-left: 10px;
        color: #414042;
    }
}

@media only screen and (max-width: 400px) {
    .navigation .navbar-brand {
        font-size: 20px;
        margin-left: 10px;
        color: #414042;
    }
}



/*------------------ FLUID JUMBOTRON SETTINGS---------------*/

.jumbotron-fluid {
    margin-bottom: 0;
    padding: 30px 0 0;
    background-color: #C9C6CC;
}

.img-responsive {
    width: 100%;
    height: auto;
    opacity: 0.7;
}




/*--------- PAGE WITH POSTS CONTENT SETTINGS--------*/

.container-fluid {
    z-index: 1;
    padding: 0;
}

.row .no-margin {
    margin-top: 0;
}

.col-sm-8.private-post-list {
    padding: 1.25rem;
}

.add-new-post-button {
    padding: .75rem 1.25rem;
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-align: center;
}

span.add-new-post-button-text {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
    margin: auto 0;
    color: #6c757d;
}

.profile-link-username:hover {
    color: #C9C6CC;
    text-decoration: none;
}

.post-card.single-card.confirm {
    margin: 15px auto;
    max-width: 300px;
}

.post-title > h3 {
    font-size: 3.9rem;
    text-align: center;
}

.post-info {
    font-size: 15px;
    text-align: center;
}

.post-tags {
    text-align: center;
    padding-bottom: 1%;
}

ul.tags {
    padding: 0;
    display: inline-flex;
    margin: 0;
}

ul.tags > li{
    list-style: none;
    padding: 0 10px;
}

.single-tag > a {
    font-size: 16px;
}

.pagination {
    justify-content: center;
}


/*----------------------- POSTS CARDS SETTINGS--------------------*/

.card-deck {
    padding-top: .75rem;
    margin: 0 auto;
}

.post-card.card {
    min-width: 275px;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 1216px) {
    .post-card.card {
        min-width: 300px;
        max-width: 600px;
    }
}

.card.body {
    position: relative;
}

div.card-post-tags {
    text-align: center;
    padding-bottom: 1%;
}

ul.card-tags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

ul.card-tags > li.card-single-tag {
    list-style: none;
    padding: 2px;
}

div.card-post-tags > ul > li.card-single-tag > a.card-tag {
    font-size: 0.75rem;
}

p.card-text {
    font-size: 0.9rem;
    text-align: left;
    padding: 1.25rem 0;
}

div.post-buttons > form > a {
    background: white;
    color: #414042;
    border: none;
    font-size: 0.9em;
}

.styled:before, .styled span:before, .content3 .image .mbr-iconfont:hover,
.folow:before, .date:before, .mbr-gallery-filter li:before, .separator:before, .bgc {
    background: #6A557F;
}

.separator:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 77px;
    top: 1px;
    left: 0;
}

.separator {
    display: block;
    color: #000;
    width: 100%;
    height: 20px;
    background: transparent;
    position: relative;
    padding: 15px 0;
}


/*----------------------- POST AUTHOR IN USER PROFILE -----------------*/

.user-update-link {
    color: #6c757d;
}
.user-update-link:hover {
    text-decoration: none;
    color: #414042;
}

.profile-card {
    border: none;
}

/* Desktop Styles */
@media only screen and (min-width: 420px) {
    .profile-card {
    min-width: 350px;
    }
}

.profile-user-info {
    padding: .75rem 1.25rem;
}

.profile-avatar {
    text-align: center;
}

.profile-avatar-photo {
    border-radius: 50%;
    max-height: 225px;
    max-width: 225px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.profile-user-bio {
    font-size: 14px;
}

.small.text-muted, small {
    font-size: 0.8rem;
}

div.card-footer > small > i {
    color: #6A557F;
}

div.card-footer > small > a > i {
    color: #6A557F;
}

div.profile-edit.card-footer > small > a > i {
    color: #6A557F;

}


/*----------------------- POST AUTHOR IN POST DETAILS-----------------*/

@media screen and (min-width: 77.5em) {
    .author-info .avatar {
    height: 100px;
    margin: 0 1.6842em 1.6842em 0;
    width: 100px;
    }
}

.avatar {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.author-heading {
    color: #C9C6CC;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

@media screen and (min-width: 59.6875em) {
    .author-info {
        margin: 0 5%;
        padding: 5% 0;
        }
    }

.author-info .avatar {
    float: left;
}

.author-title {
    text-align: left;
}

.author-bio {
    font-size: 15px;
}


/*------------------------- EDIT POST FORM SETTINGS----------------------------*/

.col-md-8.post-edit-page-container {
    margin: 0 auto;
}

.post-edit.edit-form-container {
    display: flex;
    margin: 0 auto;
    background-color: rgba(0,0,0,.03);
}

form.post-edit.form-content {
    margin: 0 auto;
}

.fieldWrapper.title {
    border: none;
    margin-bottom: 10px;
    padding: .75rem 1.25rem;
}

.fieldWrapper.content {
    width: 90%;
    margin: 0 auto;
}


.fieldWrapper.privacy {
    text-align: center;
    
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#id_title {
    width: 100%;
    text-align: center;
    margin: auto;
}

/*--------------------- FORMS SETTINGS--------------------------*/

.col-sm-6.form-group.login-form {
    margin: 0 auto 1rem auto;
}

.buttons {
    text-align: center;
    font-size: 0.8rem;
}

.nav-link.btn.login-btn {
    background: #6A557F;
    margin-right: 5px;
    border-radius: 0;
}
.nav-link.btn.login-btn > span {
    color: #FBF7FF;
}

label[for=id_title],
label[for=id_content],
label[for=id_tags] {
    display: inherit;
}

span.helptext {
    font-size: 12px;
}

.buttons > input {
    font-size: 16px;
}

/*-------------- ABOUT ME IMAGE SETTINGS SETTINGS--------*/

.image-container {
    justify-content: center;
    width: 100%;
}

.image-container img {
    display:inline-block;
    margin-top: 80px;
    object-fit: contain;
    object-position: 100%;
    width: 100%;
}

.small-image-container {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.small-image-container img {
    display:inline-block;
    object-fit: contain;
    object-position: 100%;
    max-width: 100%;
    border-radius: 50%;
}

@media only screen and (max-width: 450px) {
    .small-image-container {
        text-align: center;
    }
    .small-image-container img {
        max-width: 75%;

    }
}

.list-inline-item > a {
    color: #414042;
}

/*--------- FOOTER SETTINGS--------*/
footer {
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
	clear: both;
	background-color: #404042;
    color: #F7F7FF;
}

