{% extends "base.html" %}

{% block title %}Email successful{% endblock %}

{% block content %}
<div class="content-container no-jumbotron">

    <div class="row">
        <div class="container">

            <div class="col-md-8 col-sm-12 mb-4 mx-auto">

                <div class="page-heading">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <h3 class="add-new-post-button-text">WE'VE GOT YOUR MESSAGE</h3>
                            <i class="far fa-envelope fa-7x"></i>
                            <p>Thanks for your email. We'll be with you shortly!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}