<!DOCTYPE html>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {{ post_form.media }}

    <div class="content-container no-jumbotron">
        <div class="row">

            <div class="col-md-8 post-edit-page-container">

                <div class="page-heading">
                    <div class="profile-page-link-container">
                        <a class="nav-link" title="Contact Form">
                            <h3 class="add-new-post-button-text">Share Your Thoughts</h3>
                                <i class="fas fa-feather-alt fa-7x"></i>
                        </a>
                    </div>
                </div>


                <div class="post-edit edit-form-container">

                    <form method="POST" id="post" class="post-edit form-content">{% csrf_token %}

                        <div class="fieldWrapper title card-footer">
                            {% if post_form.title %}
                                <label for="id_title">{{ post_form.title }}</label>
                            {% else %}
                                <label for="id_title"></label>
                                <input type="text" class="form-control" id="id_title" name="title" required>
                            {% endif %}
                        </div>

                        <br>
                        <div class="fieldWrapper content card-footer">
                            {{ post_form.content }}
                        </div>

                        <br>
                        <div class="fieldWrapper privacy card-footer">
                            <label for="id_privacy">Change Post Privacy</label>
                            <select title="Privacy selector" id="id_privacy" name="privacy" class="form-control">
                                {% for choice in post_form.privacy.field.choices %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <br>

                        <div class="fieldWrapper tags card-footer">
                            <label for="id_tags" class="label-for-tags">Chose Post Tags</label>

                            <div id="id_tags" class="tags-container">
                                {{ tag_formset.management_form }}

                                {% for form in tag_formset %}
                                    <div class="chose-individual-tag">
                                        {{ form }}
                                    </div>
                                {% endfor %}
                            </div>

                        </div>


                        <div class="add-new-post-button">
                            <div class="btn-group submit" role="group">
                                <button class="btn btn-submit" type="submit" title="Save changes">
                                    <i class="far fa-save"></i> SAVE </button>
                                <a class="btn btn-cancel user-update-link" href="{% url 'website:posts_list' %}" title="Cancel changes">CANCEL </a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>


{% endblock %}

