<!-- templates/base.html -->
<!--This is a generic base template for all pages-->

<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- FONTS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/static.css' %}" type="text/css">

    </head>

    <body>

        <!-- HEADER // NAVIGATION
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <header class="nav-down"><!-- Hidden header with JS -->

                <nav class="navbar navbar-expand-lg navbar-light navigation" id="mainNav">

                    <div class="overlay"></div>

                    <div class="container">

                        <a class="navbar-brand" href="{% url 'website:posts_list' %}">Ridiculous Thoughts</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i>
                        </button>

                        {% if user.is_authenticated %}<!-- float this right-->

                            <div class="collapse navbar-collapse nav-items right" id="navbarResponsive"><!-- USER VIEW-->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'accounts:profile_page' %}" title="User Profile">
                                            <i class="fas fa-user"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'website:post_new' %}" title="New Post">
                                            <i class="fas fa-plus"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'website:post_draft_list' %}" title="Drafts">
                                            <i class="far fa-edit"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'friends:private_posts_list' %}">MY POSTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'friends:friends_posts_list' %}">FRIENDS POSTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'website:email' %}" title="Contact">CONTACT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}" title="Logout">
                                        <i class="fas fa-sign-out-alt"></i></a>
                                    </li>
                                </ul>
                            </div>

                        {% else %}

                            <div class="collapse navbar-collapse nav-items right" id="navbarResponsive"><!-- PUBLIC VIEW-->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}" title="Login">
                                            <i class="fas fa-sign-in-alt"> LOGIN </i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'website:about' %}" title="About">
                                            <i class="fas fa-id-badge"> ABOUT ME</i></a>
                                    </li>
                                </ul>
                            </div>

                        {% endif %}
                    </div>
                </nav>

            </header>

            <!-- MAIN PAGE CONTENT
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <main role="main">

                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>

            </main>

        <!-- FOOTER
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <footer class="page-footer">
            <h6>Copyright © Paula Banks 2018</h6>
        </footer>


        <!-- JAVASCRIPT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
        <script src="{% static 'JavaScript/static.js' %}" type="text/javascript"></script>
        <script src="{% static 'JavaScript/tinymce.js' %}" type="text/javascript"></script>


    </body>

</html>